.nav {
    grid-area: n;
    background-color: #414b52;
    padding: 10px;
    border: thick double #bababa
}

.item {
    margin-bottom: 10px;
}

.item:last-child {
    margin-top: 25px;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a:hover{
    color: #bababa;
}

.item a.active {
    color: #bababa;
}