.dialogs {
    background: #414b52;
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    border: thick double #bababa;
}

.users {

}

.users__item .active {
    color: #bababa
}

.userItem {
    margin-bottom: 10px;

}

.users__link {
    color: white;
    text-decoration: none;
}

.dialog {

}

.messages {

}

.message__item {
    margin-bottom: 10px;
}

